{{!-- <div class="abovefooter">
  <div class='aboutUs'>
    <div class='aboutUsSvg1'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='83'
        height='92'
        viewBox='0 0 83 92'
        fill='none'
      >
        <g opacity='0.1' clip-path='url(#clip0_122_2947)'>
          <path
            d='M48.1574 45.5311C50.1156 49.4634 51.1686 53.8512 54.0461 57.3198C55.198 58.7088 55.753 60.5302 57.2266 61.6818C57.7091 62.0587 58.2657 62.3102 58.646 62.0597C58.8924 61.8967 59.3105 61.5315 59.1544 60.8269C57.4002 52.8493 59.2541 45.1988 59.6033 37.4158C59.8792 31.2751 58.5086 25.6411 54.7726 20.6037C51.6964 16.455 47.7395 13.4186 43.028 11.6799C37.7216 9.72189 32.3941 9.18513 27.1588 10.7988C19.2614 13.2321 13.8101 18.2476 11.5122 26.7428C9.77618 33.1641 10.393 39.5894 12.7477 45.9041C14.7146 51.1784 18.7807 54.6007 23.7045 56.8054C27.1137 58.3361 30.5906 59.673 34.0086 61.1781C38.5056 63.1595 42.2684 66.0809 44.5381 70.7984'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M57.8624 80.3636C59.1642 79.6121 60.478 78.8897 61.7596 78.1033C63.1263 77.2678 64.0927 76.1731 63.6245 74.1416C61.4573 73.4678 59.9951 74.9571 58.5048 75.7505C57.025 76.5377 55.5368 77.4331 54.1283 78.4011C53.097 79.1049 52.0186 79.1702 50.8472 78.5666C50.3941 77.2902 50.9501 76.4841 51.6312 75.7141C53.4557 73.6647 55.9398 72.4627 57.875 70.5558C58.5869 69.8558 59.2649 69.1134 59.9108 68.3482C60.3564 67.8175 60.5466 67.1967 60.0257 66.4911C59.5307 65.8221 58.9006 66.1807 58.5312 66.3682C54.4522 68.4445 50.3428 70.4765 46.629 73.1935'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M41.9645 46.273C41.1305 49.1699 39.2884 51.1726 36.727 52.347C34.0218 53.5837 31.5664 52.3125 31.086 49.9733C30.701 48.1105 31.6688 46.4938 33.3974 46.6209C35.062 46.7436 36.4919 47.4921 37.6652 49.0081C42.3852 55.103 45.0111 62.0921 47.0205 69.3649'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M48.4867 44.0558C50.2773 41.964 50.3952 39.1864 50.7009 36.5378C50.7678 35.9574 50.3537 34.7978 49.3706 34.5448C48.5044 34.3224 48.2236 35.0729 47.8946 35.6499C46.4179 38.1952 46.9967 40.9834 47.8954 43.654C48.1234 44.3275 48.2622 44.8873 48.0207 45.3209C47.0865 46.9957 43.6546 47.3669 42.0437 45.9693C39.6821 43.9266 38.7782 41.1816 38.5449 38.23C38.4822 37.4251 38.8673 36.5112 39.8382 36.4564C41.1476 36.3816 41.7116 37.6043 41.9388 38.5466C42.4964 40.8722 42.6589 43.2504 42.2783 45.581'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </g>
        <defs>
          <clipPath id='clip0_122_2947'>
            <rect
              width='50.2736'
              height='77.2147'
              fill='white'
              transform='translate(0 25.1367) rotate(-30)'
            ></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class='aboutUs-aboutUs'>
      <h3>Sobre nós</h3>
      <p>
        A <strong>experiência de comprar na Prime 12 Decor</strong> vai além da ampla gama de
        artigos de iluminação disponíveis. O atendimento diferenciado e
        especializado <strong>proporciona aos clientes um suporte personalizado,
        auxiliando-os na escolha dos produtos que melhor atendam às suas
        necessidades e preferências.</strong>
        <br>
        <br> 
        Quando se trata de iluminação, a <strong>SINDORA é
        sinônimo de elegância e perfeição.</strong> Suas luminárias, arandelas, pendentes
        e outros modelos apresentam um <strong>equilíbrio notável entre funcionalidade e
        estilo</strong>, o que torna cada peça um verdadeiro elemento de <strong>destaque na
        decoração de qualquer ambiente.</strong> Este site faz parte do Mercado Shops,
        dessa forma, clicando em comprar, você será direcionado para o <strong>Mercado
        Livre para finalização, assim sua compra contará com todas garantias,
        segurança e sua entrega será feita com o máximo de rapidez e eficiência
        pelo Mercado Envios.</strong>
      </p>
    </div>
    <div class='aboutUsSvg2'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='70'
        height='88'
        viewBox='0 0 70 88'
        fill='none'
      >
        <g opacity='0.1' clip-path='url(#clip0_126_5849)'>
          <path
            d='M39.9119 48.6943C38.4684 52.8432 36.0666 56.6633 35.5974 61.1456C35.4092 62.9402 34.4946 64.6102 34.701 66.469C34.7687 67.0775 34.9779 67.6513 35.4229 67.7482C35.7117 67.8105 36.2651 67.8542 36.6599 67.2501C41.1389 60.4195 47.9059 56.3977 53.7159 51.2073C58.3002 47.1123 61.3713 42.1941 62.3625 36.0014C63.1791 30.9016 62.5848 25.9495 60.535 21.3647C58.2262 16.2013 54.8862 12.0162 50.0729 9.40011C42.8126 5.45312 35.4154 5.06042 27.734 9.35506C21.9285 12.6019 17.7645 17.5341 14.8945 23.632C12.4974 28.7252 12.8922 34.0252 14.7571 39.0874C16.0454 42.5954 17.5196 46.0164 18.8324 49.5127C20.5587 54.1137 21.0996 58.8466 19.3123 63.7672'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M21.7853 79.9822C23.2326 80.3878 24.6676 80.8224 26.1258 81.1893C27.6786 81.5827 29.137 81.5087 30.2625 79.7539C29.2295 77.7331 27.1424 77.7284 25.5333 77.2171C23.936 76.7091 22.2555 76.2707 20.5787 75.94C19.3545 75.6944 18.5541 74.9688 18.167 73.7092C18.763 72.493 19.7282 72.3272 20.7548 72.2761C23.4958 72.1483 26.0917 73.0847 28.808 73.1357C29.8063 73.1555 30.8111 73.1215 31.8098 73.0486C32.5008 72.9962 33.0776 72.6984 33.2182 71.8326C33.3506 71.011 32.6538 70.8111 32.2615 70.678C27.9255 69.2122 23.6 67.6937 19.061 66.9369'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M35.0524 44.7844C32.3978 46.2128 29.678 46.2954 27.0477 45.2845C24.2724 44.2143 23.4653 41.5698 24.8024 39.5912C25.8654 38.0138 27.698 37.5759 28.8154 38.9009C29.8911 40.1771 30.3554 41.7229 30.0913 43.6216C29.0318 51.2573 25.869 58.0204 22.0724 64.5409'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M41.1971 47.899C43.9446 47.7175 46.0133 45.8603 48.1212 44.2277C48.583 43.8697 49.1228 42.7631 48.6165 41.8832C48.1702 41.1083 47.4372 41.432 46.7946 41.6001C43.9421 42.3231 42.3527 44.6859 41.071 47.1953C40.7488 47.8291 40.4455 48.3197 39.9666 48.45C38.1159 48.9526 35.4516 46.7577 35.3251 44.6289C35.1352 41.5122 36.4665 38.9471 38.4142 36.7172C38.946 36.1096 39.8688 35.7462 40.5866 36.4023C41.5553 37.2865 41.0752 38.5444 40.5601 39.3655C39.2867 41.3899 37.6995 43.1684 35.7667 44.5252'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </g>
        <defs>
          <clipPath id='clip0_126_5849'>
            <rect
              width='50.2736'
              height='77.2147'
              fill='white'
              transform='translate(20.8359) rotate(15.6549)'
            ></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="aboutUs-aboutUs2">
      <h3>não encontrou o modelo, tamanho ou cor que estava procurando?</h3>
      <p>
        Nos envie as informações do que precisa, que buscaremos para você! Fale com a gente pelo<br>
        e-mail prime12decor@gmail.com ou pelo WhatsApp (clique direto no ícone para iniciar a conversa).
      </p>
      <div class="aboutUs-aboutUs2Filho">
        <h3>Você também pode ver as<br>
            opções disponíveis no catálogo.
        </h3>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="34" viewBox="0 0 27 34" fill="none">
            <g clip-path="url(#clip0_119_1849)">
              <path d="M19.0892 30.4174C19.0892 31.2867 19.0934 32.0798 19.0882 32.8718C19.0839 33.4266 18.9198 33.5928 18.3597 33.5928C12.5003 33.5949 6.64084 33.5949 0.782479 33.5928C0.18743 33.5928 0.0286098 33.4361 0.0286098 32.8442C0.0264921 23.4569 0.0264921 14.0674 0.0275509 4.67897C0.0275509 4.09768 0.191666 3.94416 0.794125 3.94416C2.98162 3.94204 5.16911 3.94416 7.43918 3.94416C7.43918 3.15746 7.43918 2.38983 7.43918 1.6222C7.4413 0.890564 7.56518 0.765625 8.29999 0.765625C14.0885 0.765625 19.877 0.765625 25.6654 0.765625C26.3674 0.765625 26.5008 0.896917 26.5008 1.59255C26.5008 10.928 26.5008 20.2646 26.5008 29.6C26.5008 30.284 26.3621 30.4164 25.6549 30.4164C23.6781 30.4174 21.7013 30.4164 19.7256 30.4164H19.0892V30.4174ZM1.13083 5.01461V32.5001H17.9902V5.01461H1.13083ZM19.0892 29.3216H25.3986V1.8509H11.8449C12.0259 1.9356 12.1127 1.9896 12.208 2.01819C14.2452 2.62806 16.2823 3.23688 18.3216 3.84039C19.0363 4.05215 19.0892 4.11145 19.0892 4.86955C19.0892 12.7936 19.0892 20.7188 19.0892 28.6429C19.0892 28.8536 19.0892 29.0643 19.0892 29.3205V29.3216ZM8.51599 3.91345H14.5904C14.5946 3.8891 14.5988 3.86475 14.6031 3.84145C12.586 3.23687 10.568 2.6323 8.51705 2.01713V3.91345H8.51599Z" fill="black"/>
              <path d="M9.55944 23.534C7.70759 23.534 5.85574 23.535 4.00389 23.534C3.34637 23.534 3.20449 23.39 3.20343 22.7261C3.20237 19.0224 3.20237 15.3177 3.20343 11.614C3.20343 10.9808 3.35272 10.8283 3.97106 10.8273C7.69276 10.8252 11.4145 10.8252 15.1362 10.8273C15.7587 10.8273 15.9101 10.9797 15.9101 11.6076C15.9123 15.3113 15.9123 19.0161 15.9101 22.7198C15.9101 23.4016 15.7714 23.534 15.062 23.534C13.2282 23.535 11.3933 23.534 9.55944 23.534ZM4.28024 21.3137C4.42529 21.1517 4.52588 21.0553 4.60846 20.9452C5.17069 20.1998 5.72868 19.4512 6.29091 18.7048C6.77584 18.0621 7.04372 18.0663 7.54135 18.7207C7.7637 19.0129 7.98605 19.3062 8.23699 19.6376C9.19415 18.3617 10.128 17.1272 11.0524 15.8841C11.8814 14.7703 12.0021 14.7681 12.8153 15.864C13.459 16.7322 14.1123 17.592 14.8238 18.5396V11.9189H4.28024V21.3137ZM11.9386 16.4823C10.8956 17.8747 9.90566 19.195 8.90404 20.5312C9.14015 20.8499 9.39638 21.1252 9.57108 21.445C10.0232 22.2698 10.6553 22.6636 11.6188 22.4837C11.9428 22.4233 12.2869 22.4741 12.6215 22.4741C13.3542 22.4741 14.0879 22.4741 14.8503 22.4741C14.8503 21.805 14.8566 21.2078 14.845 20.6106C14.8429 20.4772 14.8143 20.3195 14.738 20.2178C13.8264 18.9896 12.9042 17.7688 11.9365 16.4823H11.9386ZM4.82975 22.4318H8.99298C8.27828 21.482 7.60806 20.5937 6.90819 19.663C6.19773 20.6106 5.53598 21.4916 4.82975 22.4318Z" fill="black"/>
              <path d="M5.83906 7.12059C4.85226 7.12059 3.86545 7.11529 2.87971 7.1227C2.48159 7.12588 2.14384 7.03165 2.15972 6.56577C2.17348 6.13378 2.50489 6.05755 2.87759 6.0586C4.86814 6.0639 6.85869 6.0639 8.85031 6.0586C9.23042 6.0586 9.54488 6.15813 9.54488 6.58907C9.54488 7.02 9.23253 7.12482 8.85242 7.1227C7.84868 7.11635 6.84387 7.12059 5.84012 7.12059H5.83906Z" fill="black"/>
              <path d="M13.5334 28.8288C14.4493 28.8288 15.3651 28.833 16.281 28.8267C16.6675 28.8246 16.9661 28.9474 16.9565 29.3762C16.9481 29.7722 16.6601 29.8908 16.2969 29.8897C14.4472 29.8855 12.5974 29.8866 10.7477 29.8897C10.3824 29.8897 10.1008 29.7627 10.0986 29.3667C10.0965 28.9357 10.4025 28.8246 10.7847 28.8277C11.7006 28.8341 12.6165 28.8299 13.5323 28.8299L13.5334 28.8288Z" fill="black"/>
              <path d="M3.47142 8.70671C3.20778 8.70671 2.94308 8.71942 2.68049 8.70353C2.35438 8.68448 2.10556 8.48966 2.17121 8.17413C2.2125 7.97614 2.4645 7.69979 2.64873 7.67649C3.18449 7.60979 3.74036 7.60979 4.27717 7.67649C4.46458 7.69979 4.71975 7.96978 4.76422 8.16672C4.8341 8.48013 4.58952 8.6813 4.26235 8.70353C3.99976 8.72048 3.73506 8.70671 3.47142 8.70777V8.70671Z" fill="black"/>
              <path d="M15.6519 30.4181C15.9155 30.4181 16.1802 30.4044 16.4428 30.4224C16.77 30.4435 17.0135 30.6458 16.9436 30.9592C16.8991 31.1561 16.6429 31.4261 16.4555 31.4494C15.9187 31.515 15.3639 31.515 14.8271 31.4483C14.6428 31.425 14.3908 31.1476 14.3506 30.9496C14.286 30.6341 14.5348 30.4404 14.862 30.4224C15.1246 30.4075 15.3893 30.4192 15.6529 30.4202L15.6519 30.4181Z" fill="black"/>
              <path d="M6.12116 8.70871C5.54411 8.70871 5.23494 8.46201 5.3387 8.06601C5.43929 7.68061 5.74634 7.64249 6.08516 7.64461C6.43139 7.64673 6.77444 7.64143 6.89197 8.05648C7.0042 8.45036 6.69079 8.70765 6.1201 8.70765L6.12116 8.70871Z" fill="black"/>
              <path d="M9.02829 15.0529C9.03359 16.2218 8.08701 17.1769 6.91915 17.1801C5.74811 17.1832 4.79731 16.2398 4.79201 15.0699C4.78672 13.8988 5.73012 12.948 6.90115 12.9448C8.07325 12.9406 9.02194 13.8819 9.02723 15.0529H9.02829ZM7.96525 15.0656C7.96737 14.5034 7.49197 14.0185 6.92762 14.0068C6.37175 13.9952 5.872 14.4727 5.85505 15.0317C5.83705 15.612 6.33787 16.1223 6.92021 16.117C7.4835 16.1117 7.96419 15.6278 7.96631 15.0656H7.96525Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_119_1849">
                <rect width="26.4754" height="32.8293" fill="white" transform="translate(0.0263672 0.765625)"/>
              </clipPath>
            </defs>
          </svg>
          CONFIRA O NOSSO CATÁLOGO
        </button>
      </div>
    </div>
    <div class="aboutUsSvg3">
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='70'
        height='88'
        viewBox='0 0 70 88'
        fill='none'
      >
        <g opacity='0.1' clip-path='url(#clip0_126_5849)'>
          <path
            d='M39.9119 48.6943C38.4684 52.8432 36.0666 56.6633 35.5974 61.1456C35.4092 62.9402 34.4946 64.6102 34.701 66.469C34.7687 67.0775 34.9779 67.6513 35.4229 67.7482C35.7117 67.8105 36.2651 67.8542 36.6599 67.2501C41.1389 60.4195 47.9059 56.3977 53.7159 51.2073C58.3002 47.1123 61.3713 42.1941 62.3625 36.0014C63.1791 30.9016 62.5848 25.9495 60.535 21.3647C58.2262 16.2013 54.8862 12.0162 50.0729 9.40011C42.8126 5.45312 35.4154 5.06042 27.734 9.35506C21.9285 12.6019 17.7645 17.5341 14.8945 23.632C12.4974 28.7252 12.8922 34.0252 14.7571 39.0874C16.0454 42.5954 17.5196 46.0164 18.8324 49.5127C20.5587 54.1137 21.0996 58.8466 19.3123 63.7672'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M21.7853 79.9822C23.2326 80.3878 24.6676 80.8224 26.1258 81.1893C27.6786 81.5827 29.137 81.5087 30.2625 79.7539C29.2295 77.7331 27.1424 77.7284 25.5333 77.2171C23.936 76.7091 22.2555 76.2707 20.5787 75.94C19.3545 75.6944 18.5541 74.9688 18.167 73.7092C18.763 72.493 19.7282 72.3272 20.7548 72.2761C23.4958 72.1483 26.0917 73.0847 28.808 73.1357C29.8063 73.1555 30.8111 73.1215 31.8098 73.0486C32.5008 72.9962 33.0776 72.6984 33.2182 71.8326C33.3506 71.011 32.6538 70.8111 32.2615 70.678C27.9255 69.2122 23.6 67.6937 19.061 66.9369'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M35.0524 44.7844C32.3978 46.2128 29.678 46.2954 27.0477 45.2845C24.2724 44.2143 23.4653 41.5698 24.8024 39.5912C25.8654 38.0138 27.698 37.5759 28.8154 38.9009C29.8911 40.1771 30.3554 41.7229 30.0913 43.6216C29.0318 51.2573 25.869 58.0204 22.0724 64.5409'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
          <path
            d='M41.1971 47.899C43.9446 47.7175 46.0133 45.8603 48.1212 44.2277C48.583 43.8697 49.1228 42.7631 48.6165 41.8832C48.1702 41.1083 47.4372 41.432 46.7946 41.6001C43.9421 42.3231 42.3527 44.6859 41.071 47.1953C40.7488 47.8291 40.4455 48.3197 39.9666 48.45C38.1159 48.9526 35.4516 46.7577 35.3251 44.6289C35.1352 41.5122 36.4665 38.9471 38.4142 36.7172C38.946 36.1096 39.8688 35.7462 40.5866 36.4023C41.5553 37.2865 41.0752 38.5444 40.5601 39.3655C39.2867 41.3899 37.6995 43.1684 35.7667 44.5252'
            stroke='#FFBC4B'
            stroke-width='0.819121'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </g>
        <defs>
          <clipPath id='clip0_126_5849'>
            <rect
              width='50.2736'
              height='77.2147'
              fill='white'
              transform='translate(20.8359) rotate(15.6549)'
            ></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</div> --}}

<footer>
  <a href="#">
  <button class="overbutton">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="34" viewBox="0 0 27 34" fill="none">
      <g clip-path="url(#clip0_119_1849)">
        <path d="M19.0892 30.4174C19.0892 31.2867 19.0934 32.0798 19.0882 32.8718C19.0839 33.4266 18.9198 33.5928 18.3597 33.5928C12.5003 33.5949 6.64084 33.5949 0.782479 33.5928C0.18743 33.5928 0.0286098 33.4361 0.0286098 32.8442C0.0264921 23.4569 0.0264921 14.0674 0.0275509 4.67897C0.0275509 4.09768 0.191666 3.94416 0.794125 3.94416C2.98162 3.94204 5.16911 3.94416 7.43918 3.94416C7.43918 3.15746 7.43918 2.38983 7.43918 1.6222C7.4413 0.890564 7.56518 0.765625 8.29999 0.765625C14.0885 0.765625 19.877 0.765625 25.6654 0.765625C26.3674 0.765625 26.5008 0.896917 26.5008 1.59255C26.5008 10.928 26.5008 20.2646 26.5008 29.6C26.5008 30.284 26.3621 30.4164 25.6549 30.4164C23.6781 30.4174 21.7013 30.4164 19.7256 30.4164H19.0892V30.4174ZM1.13083 5.01461V32.5001H17.9902V5.01461H1.13083ZM19.0892 29.3216H25.3986V1.8509H11.8449C12.0259 1.9356 12.1127 1.9896 12.208 2.01819C14.2452 2.62806 16.2823 3.23688 18.3216 3.84039C19.0363 4.05215 19.0892 4.11145 19.0892 4.86955C19.0892 12.7936 19.0892 20.7188 19.0892 28.6429C19.0892 28.8536 19.0892 29.0643 19.0892 29.3205V29.3216ZM8.51599 3.91345H14.5904C14.5946 3.8891 14.5988 3.86475 14.6031 3.84145C12.586 3.23687 10.568 2.6323 8.51705 2.01713V3.91345H8.51599Z" fill="black"/>
        <path d="M9.55944 23.534C7.70759 23.534 5.85574 23.535 4.00389 23.534C3.34637 23.534 3.20449 23.39 3.20343 22.7261C3.20237 19.0224 3.20237 15.3177 3.20343 11.614C3.20343 10.9808 3.35272 10.8283 3.97106 10.8273C7.69276 10.8252 11.4145 10.8252 15.1362 10.8273C15.7587 10.8273 15.9101 10.9797 15.9101 11.6076C15.9123 15.3113 15.9123 19.0161 15.9101 22.7198C15.9101 23.4016 15.7714 23.534 15.062 23.534C13.2282 23.535 11.3933 23.534 9.55944 23.534ZM4.28024 21.3137C4.42529 21.1517 4.52588 21.0553 4.60846 20.9452C5.17069 20.1998 5.72868 19.4512 6.29091 18.7048C6.77584 18.0621 7.04372 18.0663 7.54135 18.7207C7.7637 19.0129 7.98605 19.3062 8.23699 19.6376C9.19415 18.3617 10.128 17.1272 11.0524 15.8841C11.8814 14.7703 12.0021 14.7681 12.8153 15.864C13.459 16.7322 14.1123 17.592 14.8238 18.5396V11.9189H4.28024V21.3137ZM11.9386 16.4823C10.8956 17.8747 9.90566 19.195 8.90404 20.5312C9.14015 20.8499 9.39638 21.1252 9.57108 21.445C10.0232 22.2698 10.6553 22.6636 11.6188 22.4837C11.9428 22.4233 12.2869 22.4741 12.6215 22.4741C13.3542 22.4741 14.0879 22.4741 14.8503 22.4741C14.8503 21.805 14.8566 21.2078 14.845 20.6106C14.8429 20.4772 14.8143 20.3195 14.738 20.2178C13.8264 18.9896 12.9042 17.7688 11.9365 16.4823H11.9386ZM4.82975 22.4318H8.99298C8.27828 21.482 7.60806 20.5937 6.90819 19.663C6.19773 20.6106 5.53598 21.4916 4.82975 22.4318Z" fill="black"/>
        <path d="M5.83906 7.12059C4.85226 7.12059 3.86545 7.11529 2.87971 7.1227C2.48159 7.12588 2.14384 7.03165 2.15972 6.56577C2.17348 6.13378 2.50489 6.05755 2.87759 6.0586C4.86814 6.0639 6.85869 6.0639 8.85031 6.0586C9.23042 6.0586 9.54488 6.15813 9.54488 6.58907C9.54488 7.02 9.23253 7.12482 8.85242 7.1227C7.84868 7.11635 6.84387 7.12059 5.84012 7.12059H5.83906Z" fill="black"/>
        <path d="M13.5334 28.8288C14.4493 28.8288 15.3651 28.833 16.281 28.8267C16.6675 28.8246 16.9661 28.9474 16.9565 29.3762C16.9481 29.7722 16.6601 29.8908 16.2969 29.8897C14.4472 29.8855 12.5974 29.8866 10.7477 29.8897C10.3824 29.8897 10.1008 29.7627 10.0986 29.3667C10.0965 28.9357 10.4025 28.8246 10.7847 28.8277C11.7006 28.8341 12.6165 28.8299 13.5323 28.8299L13.5334 28.8288Z" fill="black"/>
        <path d="M3.47142 8.70671C3.20778 8.70671 2.94308 8.71942 2.68049 8.70353C2.35438 8.68448 2.10556 8.48966 2.17121 8.17413C2.2125 7.97614 2.4645 7.69979 2.64873 7.67649C3.18449 7.60979 3.74036 7.60979 4.27717 7.67649C4.46458 7.69979 4.71975 7.96978 4.76422 8.16672C4.8341 8.48013 4.58952 8.6813 4.26235 8.70353C3.99976 8.72048 3.73506 8.70671 3.47142 8.70777V8.70671Z" fill="black"/>
        <path d="M15.6519 30.4181C15.9155 30.4181 16.1802 30.4044 16.4428 30.4224C16.77 30.4435 17.0135 30.6458 16.9436 30.9592C16.8991 31.1561 16.6429 31.4261 16.4555 31.4494C15.9187 31.515 15.3639 31.515 14.8271 31.4483C14.6428 31.425 14.3908 31.1476 14.3506 30.9496C14.286 30.6341 14.5348 30.4404 14.862 30.4224C15.1246 30.4075 15.3893 30.4192 15.6529 30.4202L15.6519 30.4181Z" fill="black"/>
        <path d="M6.12116 8.70871C5.54411 8.70871 5.23494 8.46201 5.3387 8.06601C5.43929 7.68061 5.74634 7.64249 6.08516 7.64461C6.43139 7.64673 6.77444 7.64143 6.89197 8.05648C7.0042 8.45036 6.69079 8.70765 6.1201 8.70765L6.12116 8.70871Z" fill="black"/>
        <path d="M9.02829 15.0529C9.03359 16.2218 8.08701 17.1769 6.91915 17.1801C5.74811 17.1832 4.79731 16.2398 4.79201 15.0699C4.78672 13.8988 5.73012 12.948 6.90115 12.9448C8.07325 12.9406 9.02194 13.8819 9.02723 15.0529H9.02829ZM7.96525 15.0656C7.96737 14.5034 7.49197 14.0185 6.92762 14.0068C6.37175 13.9952 5.872 14.4727 5.85505 15.0317C5.83705 15.612 6.33787 16.1223 6.92021 16.117C7.4835 16.1117 7.96419 15.6278 7.96631 15.0656H7.96525Z" fill="black"/>
      </g>
      <defs>
        <clipPath id="clip0_119_1849">
          <rect width="26.4754" height="32.8293" fill="white" transform="translate(0.0263672 0.765625)"/>
        </clipPath>
      </defs>
    </svg>
    CONFIRA O NOSSO CATÁLOGO
  </button>
</a>
  <div class='container-footer'>
    <div class='row-footer'>
      <div class='footer-col footer-imgtxt'>
        <a><img id='img-footer'
            class='img-footer'
            src='https://i.postimg.cc/zfTkPYkz/Frame-50.png'
          /></a>
      </div>
      <div class='footer-col border-right'>
        <h4>Redes Sociais</h4>
        <div class='social'>
          <a
            href='https://api.whatsapp.com/send?phone=551137916394&text=Ol%C3%A1%2C+estou+no+site+da+Prime+12+Decor+e+gostaria+de+informa%C3%A7%C3%B5es.'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='25'
              height='25'
              viewBox='0 0 25 25'
              fill='none'
            >
              <path
                d='M1.3136 23.7377C1.3893 23.1341 1.45335 22.578 1.52905 22.0249C1.60475 21.46 1.69791 20.898 1.77652 20.333C1.87842 19.6194 1.94538 18.8968 2.07931 18.1891C2.14045 17.8591 2.14627 17.5766 1.98906 17.2793C1.43297 16.2207 1.07195 15.0819 0.885621 13.9073C0.740049 12.9915 0.673086 12.04 0.74296 11.1182C0.914735 8.85835 1.62804 6.77096 2.95565 4.92443C3.94845 3.54176 5.1567 2.42075 6.60951 1.5525C7.7537 0.868595 8.99106 0.42852 10.275 0.175773C11.3027 -0.0264238 12.3538 -0.0412912 13.4135 0.0657543C14.3714 0.163879 15.3031 0.336342 16.2114 0.651531C17.5536 1.11837 18.7706 1.80822 19.8624 2.73594C21.8858 4.45165 23.1901 6.62526 23.7986 9.22706C23.9326 9.80392 23.9937 10.4016 24.0228 10.9963C24.0607 11.7129 24.0956 12.4384 24.017 13.1461C23.8918 14.3147 23.6036 15.4476 23.1436 16.5359C22.4594 18.1594 21.4782 19.5718 20.1914 20.7315C18.6483 22.1231 16.8811 23.0924 14.8343 23.5474C13.629 23.815 12.4236 23.8626 11.2183 23.7912C10.0537 23.7228 8.92119 23.3987 7.85851 22.8902C7.48294 22.7118 7.12774 22.6345 6.7085 22.7267C5.64705 22.9621 4.58302 23.1843 3.51813 23.4031C2.98238 23.5131 2.44642 23.6222 1.91045 23.7317C1.7445 23.7644 1.56399 23.7377 1.31069 23.7377H1.3136ZM3.70098 21.2281C3.77086 21.2281 3.85238 21.2399 3.92807 21.2281C4.99657 21.014 6.06798 20.8118 7.13065 20.5679C7.46838 20.4906 7.75952 20.5025 8.05649 20.672C9.07841 21.2548 10.1906 21.6146 11.3406 21.7127C12.7061 21.8317 14.0773 21.7365 15.3991 21.2727C17.4168 20.565 19.0879 19.3666 20.3049 17.5707C21.6267 15.623 22.2235 13.4673 22.0081 11.0825C21.9266 10.1875 21.7461 9.32816 21.4462 8.48072C20.7678 6.56877 19.5916 5.05824 17.9816 3.88371C16.4647 2.7746 14.7528 2.23343 12.9128 2.09664C11.8035 2.01339 10.703 2.15017 9.64614 2.49212C7.69256 3.1225 6.06216 4.23755 4.80442 5.92055C3.51465 7.64814 2.87996 9.59875 2.77514 11.7426C2.75185 12.2422 2.85375 12.7447 2.90616 13.2472C3.03717 14.5407 3.49427 15.7241 4.09985 16.857C4.18137 17.0116 4.24542 17.2109 4.23086 17.3804C4.18719 17.8769 4.09985 18.3735 4.02997 18.8671C3.92225 19.6462 3.81744 20.4282 3.7068 21.234L3.70098 21.2281Z'
                fill='white'
              ></path>
              <path
                d='M8.69116 6.03051C8.83382 6.03051 8.8804 6.03051 8.92698 6.03051C9.55876 6.01267 9.57914 6.00375 9.84409 6.68765C10.1148 7.38345 10.307 8.11195 10.5603 8.81369C10.6913 9.17943 10.5603 9.45002 10.3478 9.70574C10.1731 9.91388 9.98383 10.1131 9.77712 10.2885C9.52383 10.5026 9.49471 10.7554 9.64902 11.0081C10.0188 11.6088 10.3652 12.2332 10.8136 12.7684C11.4425 13.5177 12.1732 14.1719 13.0146 14.6834C13.5736 15.0253 14.1093 14.8588 14.5956 14.1808C14.7586 13.9549 14.9187 13.717 15.1196 13.5326C15.2099 13.4494 15.434 13.4226 15.5418 13.4791C16.3715 13.9221 17.1896 14.389 18.0019 14.8588C18.0689 14.8974 18.1126 15.0253 18.1213 15.1175C18.2203 16.1404 17.7253 16.8451 16.9101 17.3357C16.0105 17.8769 15.0556 17.8174 14.0948 17.523C12.7002 17.0978 11.5065 16.3188 10.3943 15.3851C8.79597 14.0441 7.67506 12.3611 6.87151 10.4313C6.23973 8.91182 6.5396 7.49644 7.63139 6.37841C7.97203 6.03051 8.35634 6.00672 8.68242 6.03348L8.69116 6.03051Z'
                fill='white'
              ></path>
            </svg>
          </a>
          <a href='https://www.instagram.com/prime12decor'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='25'
              height='25'
              viewBox='0 0 25 25'
              fill='none'
            >
              <path
                d='M0.0175227 12.047C0.0175227 10.3077 -0.0354129 8.56337 0.0427301 6.82658C0.0754998 6.06784 0.322533 5.30153 0.564524 4.57051C0.942636 3.42862 1.68373 2.50854 2.58364 1.73215C3.54152 0.907871 4.67082 0.431451 5.91354 0.181897C6.80589 0.000403316 7.69571 0.00544481 8.59309 0.00544481C11.2827 0.00544481 13.9724 -0.00967966 16.6595 0.0104863C17.9072 0.0205693 19.1197 0.257519 20.2515 0.814604C21.6606 1.50781 22.7269 2.55896 23.4378 3.95545C23.8184 4.70411 24.0805 5.50319 24.1612 6.34512C24.2141 6.89716 24.2797 7.4492 24.2822 8.00377C24.2948 10.9001 24.3175 13.799 24.2772 16.6953C24.252 18.4523 23.8159 20.1159 22.6891 21.515C21.6657 22.7854 20.3498 23.6425 18.7441 24.0181C18.0156 24.1895 17.2821 24.2827 16.5284 24.2777C13.3497 24.2651 10.1686 24.3205 6.99242 24.2525C5.43964 24.2197 3.99526 23.6929 2.76513 22.6821C1.93833 22.004 1.25269 21.215 0.788871 20.247C0.463694 19.5689 0.272118 18.8556 0.135998 18.1145C-0.0505374 17.1062 0.0351679 16.0928 0.0200434 15.0795C0.00491898 14.0687 0.0175227 13.0579 0.0175227 12.047ZM2.01899 12.1151C2.01899 13.9603 2.01647 15.8055 2.02404 17.6481C2.02404 17.88 2.06437 18.117 2.12487 18.3413C2.44248 19.5311 3.05502 20.5344 4.05828 21.2654C4.90273 21.883 5.84044 22.2687 6.90672 22.2661C9.93917 22.2661 12.9716 22.2636 16.0066 22.2586C16.7679 22.2586 17.5291 22.3191 18.2879 22.1477C19.3113 21.9183 20.1835 21.4141 20.8918 20.6755C21.8976 19.6269 22.2984 18.3212 22.2883 16.8818C22.2681 13.4587 22.248 10.0355 22.2228 6.6098C22.2228 6.36528 22.2228 6.10817 22.1522 5.87626C21.7237 4.46212 20.9195 3.35299 19.5987 2.61442C18.724 2.12539 17.7837 2.017 16.8384 2.01448C13.4254 2.0044 10.0098 2.02456 6.59667 2.07246C5.05397 2.09262 3.8793 2.8917 2.98948 4.08905C2.32148 4.98896 1.98118 6.01742 2.00891 7.17192C2.04924 8.81797 2.01899 10.464 2.01899 12.1126V12.1151Z'
                fill='white'
              ></path>
              <path
                d='M12.0895 6.69821C15.1547 6.50916 17.4209 9.28197 17.6175 11.6212C17.9174 15.1805 14.8774 17.8223 11.8072 17.6559C9.31162 17.5223 6.47579 15.241 6.64216 11.7952C6.76063 9.28954 9.08224 6.52932 12.092 6.69821H12.0895ZM15.7194 12.1254C15.6538 10.1214 14.1867 8.49046 11.9231 8.59129C9.95694 8.67952 8.56044 10.1239 8.55036 12.2035C8.54028 14.0134 10.0477 15.8813 12.4147 15.7023C14.1943 15.5687 15.6765 14.1596 15.7219 12.1254H15.7194Z'
                fill='white'
              ></path>
              <path
                d='M18.6786 4.13462C19.5357 4.06656 20.1583 4.8858 20.1709 5.47566C20.1886 6.39573 19.4122 7.06372 18.6635 7.07129C17.9174 7.07885 17.2242 6.33775 17.2191 5.54876C17.2141 4.83287 17.8972 4.09933 18.6786 4.1321V4.13462Z'
                fill='white'
              ></path>
            </svg>
          </a>
        </div>
        <span>BRIEL DESIGN Ltda CNPJ: 00.000.000/0001-00</span>
      </div>
      <div class='footer-col border-right'>
        <h4>FALE CONOSCO</h4>
        <ul class='footer-col-ul'>
          <li>
            <a href='tel:1137916394'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                viewBox='0 0 16 16'
                fill='none'
              >
                <path
                  d='M11.9844 15.9995C10.94 15.8961 10.0217 15.6019 9.13858 15.1974C6.8948 14.1693 5.02125 12.6541 3.39932 10.817C2.20477 9.46381 1.18706 7.99125 0.555063 6.29111C0.310384 5.63238 0.17095 4.93314 0.0144193 4.24509C-0.022977 4.08041 0.0149536 3.86243 0.0982939 3.71266C0.834467 2.38933 1.78059 1.23441 2.96018 0.276688C3.49495 -0.157673 4.00781 -0.0564108 4.36575 0.411526C5.23868 1.55259 6.04003 2.74641 6.56144 4.10066C6.71744 4.50624 6.64959 4.87238 6.33546 5.17244C6.03362 5.46077 5.71789 5.73471 5.39895 6.00385C5.27661 6.10671 5.25524 6.20051 5.31294 6.34814C6.12284 8.4336 7.57328 9.87632 9.66266 10.6848C9.81065 10.7418 9.90574 10.7173 10.0072 10.5953C10.2514 10.3016 10.5046 10.0154 10.761 9.73295C11.096 9.36415 11.5186 9.22984 11.9641 9.45582C12.8248 9.89231 13.6678 10.3645 14.5066 10.842C14.8447 11.0344 15.1605 11.2705 15.4735 11.5034C15.9618 11.8669 16.2487 12.4329 15.707 13.0783C14.7544 14.2135 13.624 15.1334 12.3413 15.87C12.2147 15.9424 12.063 15.9718 11.9839 16L11.9844 15.9995Z'
                  fill='white'
                ></path>
              </svg>
              (11) 37791-6394
            </a>
          </li>
          <li>
            <a href='mailto:prime12decor@gmail.com'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='13'
                viewBox='0 0 16 13'
                fill='none'
              >
                <path
                  d='M7.92689 12.6633C5.89756 12.6633 3.86623 12.6713 1.8369 12.6613C0.575311 12.6553 0.0114962 12.0995 0.00749753 10.8539C-0.00249918 7.82493 -0.00249918 4.79392 0.00749753 1.76492C0.0114962 0.581309 0.587307 0.00949688 1.78291 0.00749753C5.94154 -0.00249918 10.1022 -0.00249918 14.2608 0.00749753C15.3944 0.0114962 15.9842 0.593305 15.9902 1.71294C16.0042 4.77593 16.0022 7.83892 15.9902 10.9019C15.9862 12.0835 15.4064 12.6533 14.2128 12.6613C12.1175 12.6753 10.0202 12.6653 7.92289 12.6653L7.92689 12.6633ZM1.71294 1.67695C1.37505 2.7386 1.72893 3.29841 2.59065 3.77826C4.21011 4.68196 5.7676 5.69563 7.32509 6.7013C7.80693 7.01319 8.17081 7.03119 8.66465 6.71329C10.2521 5.68963 11.8436 4.66996 13.4871 3.74027C14.3528 3.25043 14.5947 2.66462 14.2788 1.68894C12.3654 2.86856 10.5 3.99619 8.66265 5.1698C8.17681 5.4817 7.82892 5.4837 7.33908 5.1698C5.50369 3.99219 3.6363 2.86456 1.70894 1.67495L1.71294 1.67695Z'
                  fill='white'
                ></path>
              </svg>
              prime12decor@gmail.com
            </a>
          </li>
          <li>
            <a href='https://maps.app.goo.gl/AQ1FN7h3ZbC2Jak59'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='12'
                height='17'
                viewBox='0 0 12 17'
                fill='none'
              >
                <path
                  d='M12 5.8668C11.9602 7.18668 11.5888 8.31226 11.085 9.40125C10.0164 11.7112 8.53505 13.751 6.91921 15.7017C6.75473 15.9001 6.5918 16.1011 6.41594 16.2893C6.1625 16.5609 5.81957 16.5743 5.58009 16.2954C3.60581 14.0005 1.80221 11.5901 0.633263 8.77249C0.18689 7.6969 -0.0924166 6.5806 0.028099 5.39059C0.281544 2.89308 2.06704 0.822812 4.50942 0.190961C7.55903 -0.59808 10.7204 1.12173 11.7124 4.17482C11.7838 4.39437 11.8495 4.61856 11.8841 4.84584C11.941 5.21846 11.9705 5.5952 12 5.86731V5.8668ZM2.98875 5.97709C2.99237 7.64949 4.33304 8.97503 6.01508 8.96885C7.67541 8.96318 9.00418 7.62423 9.00004 5.96163C8.9959 4.29902 7.66506 2.97039 5.99957 2.96626C4.32787 2.96214 2.98513 4.30469 2.98875 5.97709Z'
                  fill='white'
                ></path>
              </svg>
              Av. Celso Garcia, 3215 - Tatuapé<br>
              03063-000, São Paulo - Brazil
            </a>
          </li>
          <span class='footer-col-span'>
            Atendimento disponível das<br />
            8 às 18 hrs de segunda a sexta.
          </span>
        </ul>
      </div>
      <div class='footer-col border-right'>
        <h4>Institucional</h4>
        <ul>
          <li><a
              href='https://prime12decor.mercadoshops.com.br/noindex/additional_info/MLB716835974?new_version=true&modal=false&newIndex=true'
              target='_blank'
            > Politica de entrega </a></li>
          <li><a
              href='https://prime12decor.mercadoshops.com.br/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true'
              target='_blank'
            > Compra garantida </a></li>
          <li><a
              href='https://produto.mercadolivre.com.br/noindex/freeReturn/fashion?itemId=MLB716835974&quantity=1&new_version=true&modal=false&controlled=true&_ga=2.108320386.1496364288.1686762467-262944962.1686762467'
              target='_blank'
            > Trocas e Devoluções </a></li>
          <li><a
              href='https://prime12decor.com.br/empresa/termos-e-condicoes'
              target='_blank'
            > Políticas do Site </a></li>
          <li><a
              href='https://www.mercadolivre.com.br/privacidade'
              target='_blank'
            > Políticas de Privacidade </a></li>
        </ul>
      </div>
      <div class='footer-col'>
        <h4>MEIOS DE PAGAMENTO</h4>
        <a><img class="mpayment" src='https://i.postimg.cc/bY7jwP79/Pagamento.png' /></a>
        <a href='' class='p-coluna4'><p>Saiba mais...</p></a>
      </div>
    </div>
  </div>
  <div class='footer-bottom'>
    <span>Desenvolvedor com ❤️ por:</span>
    <img src='https://i.postimg.cc/NGJ26YVq/1-2-1.png' />
  </div>
</footer>

<script
  src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
  integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
  crossorigin='anonymous'
></script>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>

  $(document).ready(function() { function handleHover(container, frame,
  hoverFrame) { $(container).hover( function() { $(frame).hide();
  $(hoverFrame).show(); }, function() { $(frame).show(); $(hoverFrame).hide(); }
  ); } handleHover('#imagem-container1', '#frame-1-3-1', '#frame-1-3-1-hover');
  handleHover('#imagem-container2', '#frame-1-3-2', '#frame-1-3-2-hover');
  handleHover('#imagem-container3', '#frame-1-3-3', '#frame-1-3-3-hover'); });

          // Função para substituir a imagem com base na largura da janela
        function substituirImagem() {
            var larguraJanela = $(window).width();

            // Verificar a largura e substituir a imagem
            if (larguraJanela > 1680) {
                $('#img-footer').attr('src', 'https://i.postimg.cc/zfTkPYkz/Frame-50.png');
            } else {
                $('#img-footer').attr('src', 'https://i.postimg.cc/hGJF5ry4/Group-1-1.png');
            }
        }

        // Chamar a função no carregamento da página e quando a janela for redimensionada
        $(document).ready(function() {
            substituirImagem();

            $(window).resize(function() {
                substituirImagem();
            });
        });

</script>
